@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Inter", sans-serif;
    font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;
    -moz-font-feature-settings: "onum=0, pnum=0, lnum=1, tnum=1";       /* Firefox */
    -webkit-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  /* WebKit */
    -o-font-feature-settings: "onum" off, "pnum" off, "lnum" on, "tnum" on;  
}

.circular-progress {
    --size: 125px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 8px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }
  
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #555555;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-25deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #28A745;
  }

.circle_2 .circular-progress circle.fg {
    transform: rotate(0deg);
    stroke: #FF0000;
}

.circle-pr circle.fg {
  transform: rotate(0deg);
  stroke: #28A745;
}

@media (max-width: 420px) {
  .circle-pr {
    width: 90px;
    height: 90px;
  }
}

.showSelect .select-head{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.showSelect .arrow {
    transform: rotate(180deg);
}
.showSelect .options {
    display: block;
}
.tab-btn input[type="radio"]:checked ~  label {
    background: #262626;
    color: #fff;
}

.showInfo .info-box {
  display: flex;
}
.showInfo .show-btn img:first-child {
  display: none;
}
.showInfo .show-btn img:last-child {
  display: block;
}
.showInfo .show-btn2 img:first-child {
  display: none;
}
.showInfo .show-btn2 img:last-child {
  display: block;
}
.text-shadow {
  text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
}